* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

/*******************************/

.main-box-8{
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0px 0px 60px 10px #000;
  transition: all 1s;
}

.main-box-7 {
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0px 0px 70px 20px #000;
  transition: all 1.5s;
}

.main-box-6 {
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0px 0px 90px 40px #000;
  transition: all 1.5s;
}

.main-box-5 {
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0px 0px 110px 60px #000;
  transition: all 1.5s;
}

.main-box-4 {
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0px 0px 130px 90px #000;
  transition: all 1.5s;
}

.main-box-3 {
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0px 0px 150px 125px #000;
  transition: all 1.5s;
}

.main-box-2 {
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0px 0px 170px 150px #000;
  transition: all 1.5s;
}

.main-box-1 {
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0px 0px 200px 180px #000;
  transition: all 1.5s;
}

.main-box-0 {
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0px 0px 200px 280px #000;
  transition: all 1.5s;
}

.title {
  text-align: center;
  padding: 100px;
}

.title h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  font-weight: 700;
}

h1 span {
  text-decoration: underline;
}

.letters {
  text-align: center;
  height: 100px;
}

.letters span {
  font-size: 50px;
  color: grey;
  padding: 5px;
}

.guessed-letters {
  text-align: center;
  height: 60px;
  font-size: 30px;
  color: grey;
}

.letter-input {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  margin: 20px;
}

.letter-input label {
  font-size: 30px;
}

.letter-input input {
  margin: 20px;
  color: grey;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  width: 45px;
  box-shadow: 0px 0px 20px 0px #000;
}

input:focus {
  outline: none;
}

.letter-input button {
  display: none;
}


#loser {
  color: #AF1515;
}

.guesses-left {
  text-align: center;
}

.playagain {
  text-align: center;
}

#again-button {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  background-color: white;
  border: none;
  padding: 10px;
  margin: 10px 0px 20px 0px;
}

a {
  display: block;
  text-decoration: none;
  color: grey;
}

#magical-secret-hidden-counter {
  display: none;
}
